.alert{

    background-color: #282c34;
    color: white;
    font-size: large;
    border: solid var(--reactblues) 1px;
    border-radius: 10px;
    margin-bottom: 20px;
    
    
    }
    
    .alert:hover{
    
    background-color: rgba(250, 235, 215, 0.338);
    }
    
    